<div class="border border-dark py-4 px-5 bg-light">
  <p class="h3 text-center">{{ vehiculoDetail.marca }} {{ vehiculoDetail.linea }}</p>
  <img class="img-fluid" src="{{ vehiculoDetail.imagen }}" alt="{{ vehiculoDetail.marca }}"/>
  <ul class="list-unstyled mt-3">
    <li><span class="arrow-right">&#10148;</span> Kilometraje: {{ vehiculoDetail.kilometraje }}</li>
    <li><span class="arrow-right">&#10148;</span> Color: {{ vehiculoDetail.color }}</li>
    <li><span class="arrow-right">&#10148;</span> Referencia: {{ vehiculoDetail.referencia }}</li>
  </ul>
</div>
